In [17]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

In [74]:
data = json.load(open('data/world_bank_projects.json'))
df = json_normalize(data, 'mjtheme_namecode')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 23.5+ KB

In [76]:
df.name = df.name.apply(lambda x: x if len(x)>0 else None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 2 columns):
code    1499 non-null object
name    1377 non-null object
dtypes: object(2)
memory usage: 23.5+ KB

In [77]:
# In 2. above you will notice that some entries have only the code and the name is missing. 
# Create a dataframe with the missing names filled in. 
code_dict = df[df.name.notnull()].set_index('code').name.to_dict()

In [81]:
for key, value in code_dict.items():
    df[df.code==key] = value
df

,code,name
0,Human development,Human development
1,Environment and natural resources management,Environment and natural resources management
2,Economic management,Economic management
3,Social protection and risk management,Social protection and risk management
4,Trade and integration,Trade and integration
...,...,...
1494,Rural development,Rural development
1495,Urban development,Urban development
1496,Human development,Human development
1497,Trade and integration,Trade and integration
1498,Financial and private sector development,Financial and private sector development